<apex:page title="DisplayImage" sidebar="false" showHeader="false">
    <apex:pageBlock title="Image Page">
        <apex:pageBlockSection title="Image Section">
            <apex:form >
                <table>
                    <tr>
                        <td>
                            <apex:image url="https://developer.salesforce.com/files/salesforce-developer-network-logo.png"/>
                        </td>
                    </tr>
                </table>
            </apex:form>
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:page>