<apex:page >
    <h1>Checklist</h1>
    <apex:form id="engineReadinessChecklist">
        <apex:pageBlock title="Flight Systems Checklist">
            <!----First Section---->
            <apex:pageBlockSection title="Engines">
                <apex:inputcheckbox immediate="true"/>Engine1
                <apex:inputcheckbox immediate="true"/>Engine2
                <apex:inputcheckbox immediate="true"/>Engine3
                <apex:inputcheckbox immediate="true"/>Engine4
                <apex:inputcheckbox immediate="true"/>Engine5
                <apex:inputcheckbox immediate="true"/>Engine6
            </apex:pageBlockSection>
            <!-----End of First Section----->
            <apex:pageBlockSection title="Tanks">
                <apex:inputcheckbox immediate="true"/>Tank1
                <apex:inputcheckbox immediate="true"/>Tank2
                <apex:inputcheckbox immediate="true"/>Tank3
                <apex:inputcheckbox immediate="true"/>Tank4
                <apex:inputcheckbox immediate="true"/>Tank5
                <apex:inputcheckbox immediate="true"/>Tank6
            </apex:pageBlockSection>
            <apex:pageblockbuttons >
            <apex:commandButton value="Save" action="{!save}"/>
            </apex:pageblockbuttons>
        </apex:pageBlock>
    </apex:form>
</apex:page>