<apex:page >
    <apex:pageBlock >
        <apex:pageBlockSection columns="1">
         {! $User.FirstName} {!$User.LastName}
            <p>Today Date{!IF(Day(Today())<15,
            'Before 15', 'After 15')}</p>
            <p>After 7 Days{!Today()+7}</p>
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:page>